{% extends 'base3.html' %}

{% block body %}

<center>
<div class="container">
    <div class="col-4">
        <form action="{% url 'add2branch3' %}" method="post" id="iccid2">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-primary btn-md">ADD</button>
        </form>
    </div>
</div>
</center>
<style>
    #iccid2{
        margin-top: 130px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    body{
        background-color: lightgray;
    }

</style>

{% endblock %}