{% extends 'base2.html' %}

{% block body %}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ICCID1</th>
                <th>MSISDN1</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in br %}
            <tr>
                <td>{{item.iccid1}}</td>
                <td>{{item.msisdn1}}</td>
                <td>{{item.status}}</td>
                <td><a href="{% url 'update2branch2' item.id %}" class="btn btn-warning btn-md">Update</a></td>
                <td><a href="{% url 'delete2branch2' item.id %}" class="btn btn-danger btn-md">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if br.has_previous %}
                    <strong><li class="page-item"></li><a class="page-link" href="?page=1">&laquo; First</a></strong>
                    <strong><li class="page-item"></li><a class="page-link" href="?page={{ br.previous_page_number }}">Previous</a></strong>
                {% endif %}

                <!--Page {{ br.number }} of {{ br.paginator.num_pages }}-->

                {% for i in numbers %}
                    <strong><li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li></strong>
                {% endfor %}

                {% if br.has_next %}
                    <strong><li class="page-item"></li><a class="page-link" href="?page={{ br.next_page_number }}">Next</a></strong>
                    <strong><li class="page-item"></li><a class="page-link" href="?page={{ br.paginator.num_pages }}">Last &raquo;</a></strong>
                {% endif %}
            </ul>
        </nav>
    </center>
</div>

{% endblock %}