{% extends 'base2.html' %}

{% block body %}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>ICCID1</th>
                <th>MSISDN1</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in branch1 %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.iccid1}}</td>
                <td>{{item.msisdn1}}</td>
                <td>{{item.status}}</td>
                <td><a href="{% url 'update2branch2' item.id %}" class="btn btn-warning btn-md">Update</a></td>
                <td><a href="{% url 'delete2branch2' item.id %}" class="btn btn-danger btn-md">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}