{% extends 'base.html' %}

{% block body %}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ICCID1</th>
                <th>IMSI1</th>
                <th>MSISDN1</th>
                <th>ICCID2</th>
                <th>IMSI2</th>
                <th>MSISDN2</th>
                <th>IMEI</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.ICCID1}}</td>
                <td>{{item.IMSI1}}</td>
                <td>{{item.MSISDN1}}</td>
                <td>{{item.ICCID2}}</td>
                <td>{{item.IMSI2}}</td>
                <td>{{item.MSISDN2}}</td>
                <td>{{item.IMEI}}</td>
                <td>{{item.STATUS}}</td>
                <td><a href="{% url 'update' item.id %}" class="btn btn-warning btn-md" id="update">Update</a></td>
                <td><a href="{% url 'delete' item.id %}" class="btn btn-danger btn-md" id="delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if item_list.has_previous %}
                    <strong><li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li></strong>
                    <strong><li class="page-item"><a class="page-link" href="?page={{ item_list.previous_page_number }}">Previous</a></li></strong>
                {% endif %}

                <!--<li class="page-item disabled"><a href="#" class="page-link">Page {{ item_list.number }} of {{ item_list.paginator.num_pages }}</a></li>-->

                {% for i in nums %}
                    <strong><li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li></strong>

                {% endfor %}

                {% if item_list.has_next %}
                    <strong><li class="page-item"><a class="page-link" href="?page={{ item_list.next_page_number }}">Next</a></li></strong>
                    <strong><li class="page-item"><a class="page-link" href="?page={{ item_list.paginator.num_pages }}">Last &raquo;</a></li></strong>
                {% endif %}

            </ul>
        </nav>
    </center>
</div>

<style>
    #update{
        float: right;
    }
</style>
{% endblock %}

