{% extends 'base2.html' %}

{% block body %}
<center>
    {% if search %}
    <h1>You Searched For: {{ search }}</h1>
    <br>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ICCID1(M)</th>
                    <th>MSISDN1(M)</th>
                    <th>STATUS(M)</th>
                    <th>ICCID1</th>
                    <th>MSISDN1</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {% for item in qs %}
                <tr>
                    <td>{{item.ICCID1}}</td>
                    <td>{{item.MSISDN1}}</td>
                    <td>{{item.STATUS}}</td>
                    <td>{{item.iccid1}}</td>
                    <td>{{item.msisdn1}}</td>
                    <td>{{item.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h1>Type something to search</h1>
    {% endif %}
    </div>
</center>
<style>
    body{
        background-color: lightgray;
    }
</style>
{% endblock %}