{% extends 'base3.html' %}

{% block body %}
<center>
<div class="container">
    <div class="col-4">
        <form action="#" method="post" id="msisdn">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-success btn-md">UPDATE</button>
        </form>
    </div>
</div>
</center>
<style>
    #msisdn{
        margin-top: 130px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
</style>
{% endblock %}