{% extends 'base3.html' %}

{% block body %}

<center>
    <div class="col-4" id="col">
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{ message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{ order }}
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload a file</label>
        <input type="file" name="filess">
        <p>Only accepts csv files</p>
        <button type="submit" class="btn btn-success btn-md">Upload</button>
    </form>
    </div>
    
    {% endif %}   
</center>
<style>
    #col{
        margin-top: 130px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
    }
</style> 

{% endblock %}